body{
    background-color: whitesmoke
}



.box{

    width: 400px;
    margin: 100px auto;
    padding: 25px;
    background: linear-gradient(lightblue,lightpink);
    border: 2px solid rgb(245, 245, 245);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}





h2 {  
    color: #3A97D4;
} 